@font-face {
  font-family: 'beclave'; 
  src: url('../resources/font/beclave.ttf'); 
}

@font-face {
  font-family: 'anglo'; 
  src: url('../resources/font/anglo.ttf'); 
}

@font-face {
  font-family: 'bookmania'; 
  src: url('../resources/font/bookmania.otf'); 
}